<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array/>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict/>
		<key>sheetClusters</key>
		<dict>
			<key>bgPoints.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>544869285.50071597</real>
				<key>lastModification</key>
				<real>544869285.50071597</real>
				<key>version</key>
				<dict>
					<key>deae0c2cd44036e659efb17f2e070ce6370c5e1503a8f099f0d3249f5cefb2a0</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>changelog.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>544869285.505265</real>
				<key>lastModification</key>
				<real>544869285.505265</real>
				<key>version</key>
				<dict>
					<key>deae0c2cd44036e659efb17f2e070ce6370c5e1503a8f099f0d3249f5cefb2a0</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>index.md</key>
			<dict>
				<key>lastModification</key>
				<real>544869217.42747903</real>
				<key>version</key>
				<dict>
					<key>deae0c2cd44036e659efb17f2e070ce6370c5e1503a8f099f0d3249f5cefb2a0</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>index.md</string>
		</array>
		<array>
			<string>changelog.md</string>
		</array>
		<array>
			<string>bgPoints.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>deae0c2cd44036e659efb17f2e070ce6370c5e1503a8f099f0d3249f5cefb2a0</key>
			<integer>3</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>deae0c2cd44036e659efb17f2e070ce6370c5e1503a8f099f0d3249f5cefb2a0</key>
			<integer>10</integer>
		</dict>
	</dict>
</dict>
</plist>
